################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorShopDemo2/v17/.suo
/BlazorShopDemo2.Business/bin/Debug/net6.0
/BlazorShopDemo2.Business/obj/Debug/net6.0/refint
/BlazorShopDemo2.Business/obj/Debug/net6.0/ref
/BlazorShopDemo2.Business/obj/Debug/net6.0/BlazorShopDemo2.Business.pdb
/BlazorShopDemo2.Business/obj/Debug/net6.0/BlazorShopDemo2.Business.GeneratedMSBuildEditorConfig.editorconfig
/BlazorShopDemo2.Business/obj/Debug/net6.0/BlazorShopDemo2.Business.dll
/BlazorShopDemo2.Business/obj/Debug/net6.0/BlazorShopDemo2.Business.csproj.FileListAbsolute.txt
/BlazorShopDemo2.Business/obj/Debug/net6.0/BlazorShopDemo2.Business.csproj.CoreCompileInputs.cache
/BlazorShopDemo2.Business/obj/Debug/net6.0/BlazorShopDemo2.Business.csproj.CopyComplete
/BlazorShopDemo2.Business/obj/Debug/net6.0/BlazorShopDemo2.Business.csproj.AssemblyReference.cache
/BlazorShopDemo2.Business/obj/Debug/net6.0/BlazorShopDemo2.Business.assets.cache
/BlazorShopDemo2.Business/obj/Debug/net6.0/BlazorShopDemo2.Business.AssemblyInfoInputs.cache
/BlazorShopDemo2.ClientApp/bin/Debug/net6.0/wwwroot/_framework
/BlazorShopDemo2.ClientApp/bin/Debug/net6.0
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/build-gz
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/ref
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/refint
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/scopedcss/bundle
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/scopedcss/projectbundle
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/scopedcss/Shared
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/staticwebassets
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/blazor.boot.json
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/staticwebassets.pack.json
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/staticwebassets.development.json
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/staticwebassets.build.json
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/BlazorShopDemo2.ClientApp.pdb
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/BlazorShopDemo2.ClientApp.MvcApplicationPartsAssemblyInfo.cache
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/BlazorShopDemo2.ClientApp.GeneratedMSBuildEditorConfig.editorconfig
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/BlazorShopDemo2.ClientApp.dll
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/BlazorShopDemo2.ClientApp.csproj.FileListAbsolute.txt
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/BlazorShopDemo2.ClientApp.csproj.CoreCompileInputs.cache
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/BlazorShopDemo2.ClientApp.csproj.CopyComplete
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/BlazorShopDemo2.ClientApp.csproj.AssemblyReference.cache
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/BlazorShopDemo2.ClientApp.assets.cache
/BlazorShopDemo2.ClientApp/obj/Debug/net6.0/BlazorShopDemo2.ClientApp.AssemblyInfoInputs.cache
/BlazorShopDemo2.Common/obj/Debug/net6.0/ref
/BlazorShopDemo2.Common/obj/Debug/net6.0/refint
/BlazorShopDemo2.Common/bin/Debug/net6.0
